# Ignore all "__pycache__" folders
**/__pycache__/

Data/
DinoPreTrainModels/
dinov3/
data/
Images/
Results/
Checkpoints/
logs/
runs/
Logs/
Visualizations/

**/port/
**/.ipynb_checkpoints/
**/.vscode/
**/.idea/
**/.log/
**/.out/
**/.pytest_cache/
**/.mypy_cache/
**/.pth/
**/__marimo__/


--port
